body{
   background-color:antiquewhite;
}
.navbar{
    padding: auto;
    
}
/* #loginFrom{
   padding:50px;
   background-image:url("./delivery-service-company-with-man-wearing-masks-bring-box-thumbs-up-delivery-courier-send-package-riding-motorcycle-wearing-helmet-with-city-landscape-as-background_142963-242.jpg");
   background-repeat: no-repeat;
   background-position:center;
   background-size: cover;
   
} */
.submit-from{
    text-align:center;
    padding:50px;
}
.submit-area{
    width: 300px;
    margin: 50px ;
    border-radius: 10px ;
    box-shadow: 20px 20px 30px black;
    padding:40px;
    
}
#transction-area{
    display:none;
}
.status{
    margin: 0 20px;
    padding:20px;
    border-radius: 10px ;
    text-align:center;
    
}
.Deposit{
    background-color: greenyellow;
    
}
.Withdraw{
    background-color: lightsalmon;
}
.Balance{
    background-color: khaki;
}
.area{
    margin-top: 50px;
    border-radius: 5px;
    padding: 40px;
    box-shadow: 5px 5px 20px gray;


}
.amount-area{
    margin-top: 50px;
}

.navbar{
    margin-top: 0px;
}

.row{
    /* padding:10px 10px; */
    margin: auto;
    font-family: Roboto,sans-serif;
    
}
.card{
    padding:0px 5px;
    margin:10px;
    box-shadow: 5px 5px 20px gray;
    text-align:center;
    background-color:antiquewhite;
    
}
.Banner{
    /* height: 300px; */
    height:300px;
    width: auto;
    background-color:#1dc68c;
    /* background-image: url(./img/Add\ a\ heading\ \(1\).jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color:white;
    text-shadow: 3px;
    font-family: Roboto,sans-serif;
  
}
/* ===============service-section================ */
.title {
    color: #fa9746;
    margin-bottom: 30px;
    position: relative
}

.title::before {
    position: absolute;
    left: -29px;
    top: 0;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    background-color: #7499f1;
    box-shadow: 0px 4px 4px 0px #aaa;
    border-radius: 4px;
    content: ''
}

.title::after {
    position: absolute;
    left: -19px;
    top: 25px;
    height: 14px;
    width: 14px;
    transform: rotate(45deg);
    background-color: #7499f1;
    box-shadow: 0px 4px 4px 0px #aaa;
    border-radius: 4px;
    content: ''
}

.services {
    padding: 40px;
    position: relative
}

.services .square {
    height: 100px;
    width: 100px;
    margin: 30px auto 40px;
    position: relative;
    border-radius: 15px;
    transform: rotate(45deg);
    padding: 10px;
    background-color: #7499f1;
    box-shadow: 0px 0px 27px 0px #ccc;
    border: 2px dotted #eaf3fa
}

.square i {
    transform: rotate(315deg);
    display: block;
    color: #eaf3fa;
    font-size: 40px;
    padding-top: 17px;
    padding-right: 14px
}

.services .square::before {
    position: absolute;
    left: -10px;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #fa9746;
    content: ''
}

.services .square::after {
    position: absolute;
    left: 50px;
    top: 66px;
    width: 1px;
    height: 88%;
    background-color: #fa9746;
    content: '';
    transform: rotate(90deg)
}

.services .serv .num {
    width: 60px;
    height: 60px;
    background-color: #7499f1;
    box-shadow: 0px 0px 15px 0px #00a9d3;
    margin: -38px auto 15px auto;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    padding-top: 7px;
    border: 1px dashed
}

.services .serv h5 {
    color: #fa9746
}

.services .serv p {
    color: #777
}

.services .serv hr {
    width: 30px;
    border-top: 3px solid rgb(0 169 211)
}
/* <!-- =======================pricing-table================== --> */
.table{
    text-align: center;
}
#pricing-caption{
    text-align: center;
    color: #1dc68c;
}